.titulo-Sobre{
    font-size: 30pt;
    color: #fff;
    margin-bottom: 20px;
    text-align: left;
}
.subtexto-Sobre{
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
    color: #7300E7;
    text-align: justify;
}